body {
  background-color: aqua;
}

.comic {
  background: url("https://imgs.xkcd.com/comics/self_description.png") 0 0;
  height: 180px;
  width: 745px;
}

@media screen and (min-width: 1200px) {
  .comic {
    background: url("https://imgs.xkcd.com/comics/self_description.png") 0 0;
    width: 250px;
    height: 180px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .comic {
    background: url("https://imgs.xkcd.com/comics/self_description.png") -250px 0;
    width: 250px;
    height: 180px;
  }
}

@media screen and (max-width: 600px) and (min-width: 0px) {
  .comic {
    background: url("https://imgs.xkcd.com/comics/self_description.png") -500 0;
    width: 250px;
    height: 180px;
  }
}
